DB="postgres://postgres:postgres@db:5432/recipe_repo?sslmode=disable"
PLATFORM="dev"
SECRET="WEYJMNyBMuukdUGYZsAjdywT3KwF5a+60hG8/pPP30cy/yPLBzHw4dfyNTJzQZEJ
2lnR+TpK8z9mdyg9KpIAIA=="
JWT_DUR=3600
APP_DIR="./app/public"
ADMIN_DIR="./app/admin"
S3_BUCKET="recipe-repo-123456789"
S3_REGION="us-east-2"
S3_CDN="https://abcdefg123456789.cloudfront.net"
IMAGE_PLACEHOLDER="somecoolkeyhere"
