<nav class="navbar">
    <div class="heading">
        <h1>The Recipe Repository</h1>
    </div>
    <a href="/">Home</a>
    <div class="nav-dropdown">
        <button data-show-if="logged-in">Create
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropbtn-content">
            <a href="/recipe-creator">New Recipe</a>
            <a href="/shopping-list-creator">New Shopping List</a>
        </div>
    </div>
    <button data-show-if="logged-in" id="shopping-lists-btn">Shopping Lists</button>
    <button data-show-if="logged-in" id="logout-button">Logout</button>
    <a href="/login" data-show-if="logged-out">Log In</a>
    <a href="/signup" data-show-if="logged-out">Sign Up</a>
</nav>

