/* CSS styles */
.nav-bar {
  display: flex;         
  align-items: center;   
  gap: 10px;             
  padding: 10px;
  background-color: #f8f9fa;
}

.nav-bar h1 {
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

html {
  height: 100%;
  background: #5298FF;
  background: -moz-linear-gradient(top, #5298FF 0%, #15537D 100%, #5298FF 100%);
  background: -webkit-linear-gradient(top, #5298FF 0%, #15537D 100%, #5298FF 100%);
  background: linear-gradient(to bottom, #5298FF 0%, #15537D 100%, #5298FF 100%);
  background-attachment: fixed;
}

.content-card {
	width: 100%;
	max-width: 450px;
	aspect-ratio: 16/9;

	border-radius: 12px;
	overflow: hidden;

}

.card-image {
	object-fit: cover;
	width: 100%;
	height: auto;
	object-position: center;
}
