<!DOCTYPE html>
<html>
<head>
<title>The Recipe Repository</title>
<script src="/app.js" defer></script>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <div id="navbar"></div>
  <script type="module">
          import { loadNav } from '../js/components.js';
          loadNav();
  </script>

  <div id="shopping_list-viewer">    
    <h2>
      {{ .Name }}
      <hr></h2>
      <h4>
      </h4>
    
      <div class="ingredients_in_list">
        <ul id="ingredients">
                {{ range .Items }}
                <li>
			{{ .Name }}
			{{ .FromUnit }}
			{{ .ToUnit }}
			{{ .Ratio }}
			{{ .Units }}
			{{ .Quantity }}
		</li>
                {{ else }}
                <li>No recipes have been added...</li>
                {{ end }}
        </ul>
        </div>
</body>
</html>
