<!DOCTYPE html>
<html>
<head>
<title>The Recipe Repository</title>
<script src="/app.js" defer></script>
<link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="navbar">
          <div class="heading">
          <h1>The Recipe Repository</h1>
          </div>

          <a href="/">Home</a>
          
          <div class="nav-dropdown">
                  <button class="dropbtn">Create
                          <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropbtn-content">
                          <a href="/recipe-creator">New Recipe</a>
                          <a href="/shopping-list-creator">New Shopping List</a>
                  </div>
          </div>
          <button class="navbtn" id="logout-button" onclick="logout()">Logout</button>
          <button class="navbtn" id="login-btn" type="button" onclick="window.location.href='/login'">Login</button>
          <button class="navbtn" id="signup-btn" type="button" onclick="window.location.href='/signup'">Sign Up</button>
  </div>>

  <div id="recipe-viewer">    
    <h2>
      {{ .Title }}
      <hr></h2>
      <h4>
        By: {{ .Author }}
        <br /> Created: {{ .CreatedAt.Format "Jan 02, 2006" }}
        <br /> Updated: {{ .UpdatedAt.Format "Jan 02, 2006" }}
      </h4>
    

    <div class="content-card">
    	<img src={{ .ImageURL }} class="card-image">
    </div>
    
    <h5>
      Ingredients
      <hr>
    </h5>
    <div id="ingredient-list">
      <ul>
        {{ range .Ingredients}}
        <li> {{ .Name }} - {{ .Quantity }} {{ .Unit }}</li>
        {{ else }}
        <li>No ingredients available</li>
        {{ end }}
      </ul>
    </div>
    <pre>{{ .Description }}</pre> 
  </div>
</body>
</html>
