<!DOCTYPE html>
<html>
<head>
<title>The Recipe Repository</title>
<script src="/app.js" defer></script>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <div id="navbar"></div>
  <script type="module">
          import { loadNav } from '/js/components.js';
          loadNav();
  </script>

  <div id="shopping_list-viewer">    
    <h2>
      {{ .Name }}
      <hr></h2>

      <h4>
         Created: {{ .CreatedAt.Format "Jan 02, 2006" }}
      </h4>
    
      <button class="printlist" id="print-shopping-list" value="{{ .ID }}">Print</button>
      <div class="recipes_in_list">
	<ul id="recipes">
		{{ range .Recipes }}
		<li> <a href="/recipes/{{ .ID }}">{{ .Title }}</a> by <a href="/users/{{ .UserID }}">{{ .Author }}</a></li>
		{{ else }}
		<li>No recipes have been added...</li>
		{{ end }}
	</ul>
	</div>    
  </div>
</body>
</html>
