<!DOCTYPE html>
<html>
<head>
<title>The Recipe Repository</title>
<script src="/app.js" defer></script>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <div class="navbar">
          <div class="heading">
          <h1>The Recipe Repository</h1>
          </div>

          <a href="/">Home</a>
          
          <div class="nav-dropdown">
                  <button class="dropbtn">Create
                          <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropbtn-content">
                          <a href="/recipe-creator">New Recipe</a>
			  <a href="/shopping-list-creator">New Shopping List</a>
                  </div>
          </div>
          <button class="navbtn" id="logout-button" onclick="logout()">Logout</button>
  </div>

  <h1> {{ .Name }}'s Shopping Lists </h2>

  <div id="shopping_list-viewer">    
	  <ul id="shoppinglists">
		  {{ range .Lists }}
		  <li>
			  <div class="list">
    <h2>
	    <a href="/shoppinglists/{{ .ID }}">{{ .Name }}</a>
      <hr></h2>
      <h4>
         Created: {{ .CreatedAt.Format "Jan 02, 2006" }}
	 </br>
	 Updated: {{ .UpdatedAt.Format "Jan 02, 2006" }}
      </h4>
      <div class="list-btns">
	      <button id="delete-list">Delete</button>
	      <button id="print-list">Print</button>
      </div>
		  </li>
		  {{ else }}
		  <li>No lists have been made</li>
		  {{ end }}
        </ul>
  </div>
