<head>
<title>The Recipe Repository</title>
<script src="/app.js" defer></script>
<link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="nav-bar">
      <h1>
        The Recipe Repository
      </h1>
          <button id="home" onclick="window.location.href='/'">Home</button>
          <button id="logout-button" onclick="logout()">Logout</button>
          <button id="login-btn" type="button" onclick="window.location.href='/login'">Login</button>
          <button id="signup-btn" type="button" onclick="window.location.href='/signup'">Sign Up</button>
    </div>
<p>Welcome to The Recipe Repository!</p>
<p>This will be a recipe sharing and shopping planner application.</p>

<div id="user-recipes">
	<h2> {{ .Name }} </h2>
	<hr>
	<ul> {{ range .Recipes }}
		<li> <a href="/recipes/{{ .ID }}">{{ .Title }}</a> <br /> Created: {{ .CreatedAt.Format "Jan 02, 2006" }}<hr>
		<div class="content-card">
			<img src={{ .ImageURL }} class="card-image">
		</div>
		</li>
	     {{ else }}
	     	<li>No recipes have been uploaded by this user</li>
	     {{ end }}
	</ul>
</div>
