<head>
<title>The Recipe Repository</title>
<script src="/app.js" defer></script>
<link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="navbar">
          <div class="heading">
          <h1>The Recipe Repository</h1>
          </div>

          <a href="/">Home</a>
          
          <div class="nav-dropdown">
                  <button class="dropbtn">Create
                          <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropbtn-content">
                          <a href="/recipe-creator">New Recipe</a>
                          <a href="/shopping-list-creator">New Shopping List</a>
                  </div>
          </div>
          <button class="navbtn" id="logout-button" onclick="logout()">Logout</button>
          <button class="navbtn" id="login-btn" type="button" onclick="window.location.href='/login'">Login</button>
          <button class="navbtn" id="signup-btn" type="button" onclick="window.location.href='/signup'">Sign Up</button>
  </div>

  <div id="user-recipes">
	<h2> {{ .Name }} </h2>
	<hr>
	<ul> {{ range .Recipes }}
		<li> <a href="/recipes/{{ .ID }}">{{ .Title }}</a> <br /> Created: {{ .CreatedAt.Format "Jan 02, 2006" }}<hr>
		<div class="content-card">
			<img src={{ .ImageURL }} class="card-image">
		</div>
		</li>
	     {{ else }}
	     	<li>No recipes have been uploaded by this user</li>
	     {{ end }}
	</ul>
</div>
